In [1]:
import pandas as pd
import numpy as np

In [2]:

path = "data/invoice_final.csv"

df = pd.read_csv(path)

In [3]:
df.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
0,spark,retail,67849,0:00:00,7005200002,168303,49317,1203.14,general motors,paid service,...,Maharashtra,"Thane Bazar, Thane H.O, Thane R.S.",19.1941,73.0002,maharashtra,west zone,01/02/15 11:30,12/13/2014 14:29,19 days 21:00:53.000000000,hatchback
1,indica,retail,84419,0:00:00,7005200003,173997,78584,804.26,tata motors,smc value package,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 10:07,01/02/15 14:12,0 days 19:55:14.000000000,hatchback
2,zen,retail,81055,0:00:00,7005200004,173889,33985,180.19,maruti suzuki,running repairs,...,Maharashtra,"Chitalsar Manpada, Sandozbaugh",19.1941,73.0002,maharashtra,west zone,01/03/15 11:12,01/02/15 11:40,0 days 23:32:13.000000000,hatchback
3,indica,retail,84419,0:00:00,7005200005,174158,78584,0.00,tata motors,smc redemption,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 11:40,01/03/15 10:12,0 days 01:28:12.000000000,hatchback
4,santro xing,retail,18980,0:00:00,7005200006,173860,50057,1202.97,hyundai,paid service,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 12:07,01/02/15 10:45,1 days 01:21:35.000000000,hatchback

# Dividing data as per zones to reduce data size

## South Zone

In [31]:
south_zone = df[df["zones"] == "south zone"]
path = "data/south_zone.csv"
south_zone.to_csv(path, index=False, encoding='utf-8')

south_zone.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
631,santro xing,retail,71825,0:00:00,7007200086,175415,58873,0.00,hyundai,running repairs,...,Karnataka,Domlur,13.2257,77.5750,karnataka,south zone,01/09/15 11:53,01/07/15 11:50,2 days 00:03:09.000000000,hatchback
1146,santro,retail,43997,0:00:00,7009200000,173572,39167,1016.05,hyundai,paid service,...,Telangana,Hakimpet,17.4010,78.4170,telangana,south zone,01/02/15 14:26,12/31/2014 12:07,2 days 02:19:02.000000000,hatchback
1147,800,retail,84064,0:00:00,7009200001,173374,73381,936.06,maruti suzuki,running repairs,...,Telangana,"Somajiguda, I.M.Colony",17.4253,78.4581,telangana,south zone,01/02/15 14:36,12/30/2014 16:38,2 days 21:58:17.000000000,hatchback
1148,alto,retail,4879,0:00:00,7009200002,173903,44918,599.86,maruti suzuki,paid service,...,Telangana,Chandanagar,17.3898,78.4699,telangana,south zone,01/02/15 16:51,01/02/15 11:11,0 days 05:40:23.000000000,hatchback
1149,swift dzire,retail,14505,0:00:00,7009200003,173290,150379,1714.00,maruti suzuki,paid service,...,Telangana,"Svpnpa, Gaganpahad, Shivarampalli, Hasannagar",17.2990,78.4186,telangana,south zone,01/02/15 17:12,12/30/2014 14:15,3 days 02:56:52.000000000,compact sedan

## West Zone

In [29]:
west_zone = df[df["zones"] == "west zone"]
path = "data/west_zone.csv"
west_zone.to_csv(path, index=False, encoding='utf-8')

west_zone.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
0,spark,retail,67849,0:00:00,7005200002,168303,49317,1203.14,general motors,paid service,...,Maharashtra,"Thane Bazar, Thane H.O, Thane R.S.",19.1941,73.0002,maharashtra,west zone,01/02/15 11:30,12/13/2014 14:29,19 days 21:00:53.000000000,hatchback
1,indica,retail,84419,0:00:00,7005200003,173997,78584,804.26,tata motors,smc value package,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 10:07,01/02/15 14:12,0 days 19:55:14.000000000,hatchback
2,zen,retail,81055,0:00:00,7005200004,173889,33985,180.19,maruti suzuki,running repairs,...,Maharashtra,"Chitalsar Manpada, Sandozbaugh",19.1941,73.0002,maharashtra,west zone,01/03/15 11:12,01/02/15 11:40,0 days 23:32:13.000000000,hatchback
3,indica,retail,84419,0:00:00,7005200005,174158,78584,0.00,tata motors,smc redemption,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 11:40,01/03/15 10:12,0 days 01:28:12.000000000,hatchback
4,santro xing,retail,18980,0:00:00,7005200006,173860,50057,1202.97,hyundai,paid service,...,Maharashtra,"Thane East, Kopri Colony",19.1941,73.0002,maharashtra,west zone,01/03/15 12:07,01/02/15 10:45,1 days 01:21:35.000000000,hatchback

## East Zone

In [28]:
east_zone = df[df["zones"] == "east zone"]
path = "data/east_zone.csv"
east_zone.to_csv(path, index=False, encoding='utf-8')

east_zone.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
4202,zen,retail,27810,0:00:00,7027200052,176204,30589,249.22,maruti suzuki,running repairs,...,Bihar,"Sheikhpura (Patna), Patna Aerodrome, B.V. College",25.6716,85.0646,bihar,east zone,01/10/15 14:06,01/09/15 19:18,0 days 18:47:53.000000000,hatchback
10453,santro,retail,88862,0:00:00,7016200186,183179,89625,0.00,hyundai,running repairs,...,West Bengal,"Kankurgachi, Bengal Chemical, Ram Krishna Sama...",23.3945,88.2559,west bengal,east zone,02/03/15 12:32,02/03/15 12:14,0 days 00:17:51.000000000,hatchback
12532,zen,retail,27810,0:00:00,7027200335,185172,31245,249.22,maruti suzuki,running repairs,...,Bihar,"Sheikhpura (Patna), Patna Aerodrome, B.V. College",25.6716,85.0646,bihar,east zone,02/10/15 18:23,02/10/15 9:45,0 days 08:38:23.000000000,hatchback
12622,zen,retail,27810,0:00:00,7027200425,188416,31445,249.22,maruti suzuki,running repairs,...,Bihar,"Sheikhpura (Patna), Patna Aerodrome, B.V. College",25.6716,85.0646,bihar,east zone,2/20/2015 19:03,2/20/2015 15:28,0 days 03:34:40.000000000,hatchback
14628,vista,retail,80544,0:00:00,7038200286,180501,24801,0.00,tata motors,accidental,...,Bihar,Nawadha H.O,25.0168,85.6328,bihar,east zone,2/18/2015 17:55,1/24/2015 14:15,25 days 03:40:14.000000000,hatchback

## North Zone

In [33]:
north_zone = df[df["zones"] == "north zone"]
path = "data/north_zone.csv"
north_zone.to_csv(path, index=False, encoding='utf-8')

north_zone.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
1489,bolero,corporate- m&m,mfccm03,0:00:00,7010200045,175502,24347,648.78,mahindra & mahindra,running repairs,...,Punjab,"Chandigarh Sector 67, Chandigarh Sector 61, Ch...",30.7465,76.741700,punjab,north zone,01/07/15 18:20,01/07/15 13:45,0 days 04:34:57.000000000,suv
1492,bolero,corporate- m&m,mfccm03,0:00:00,7010200048,174218,24347,1200.02,mahindra & mahindra,accidental,...,Punjab,"Chandigarh Sector 67, Chandigarh Sector 61, Ch...",30.7465,76.741700,punjab,north zone,01/07/15 18:48,01/03/15 11:29,4 days 07:18:48.000000000,suv
1977,innova,retail,13987,0:00:00,7012200004,174019,307908,0.00,toyota,running repairs,...,Haryana,DLF QE,28.4180,76.983900,haryana,north zone,01/02/15 19:27,01/02/15 14:29,0 days 04:58:28.000000000,suv
3557,accent,retail,82589,0:00:00,7024200000,170384,62709,2748.04,hyundai,paid service,...,Uttar Pradesh,"Bhopura, Pasonda, Sahibabad",28.6988,77.464233,uttar pradesh,north zone,01/02/15 14:38,12/20/2014 17:17,12 days 21:21:26.000000000,sedan
3558,scorpio crde,retail,60486,0:00:00,7024200001,173136,62529,8741.05,mahindra & mahindra,paid service,...,Uttar Pradesh,"Bhopura, Pasonda, Sahibabad",28.6988,77.464233,uttar pradesh,north zone,01/02/15 17:03,12/30/2014 11:02,3 days 06:00:41.000000000,suv

## Central Zone

In [32]:
central_zone = df[df["zones"] == "central zone"]
path = "data/central_zone.csv"
central_zone.to_csv(path, index=False, encoding='utf-8')

central_zone.head()

,model,customer_type,customer_no,gate_pass_time,invoice_no,job_card_no,km_reading,labour_total,make,order_type,...,pin_district,pin_location,latitude,longitude,state,zones,invoice_datetime,jobcard_datetime,Service_Time,model_type
68,figo,retail,82548,0:00:00,7005200070,170332,58000,5805.01,ford,accidental,...,Madhya Pradesh,"Indore G.P.O., Indore CGO Complex, Indore Taks...",22.7233,75.870000,madhya pradesh,central zone,01/11/15 15:47,12/20/2014 15:02,22 days 00:45:13.000000000,hatchback
4806,swift,retail,86069,0:00:00,7030200095,177325,18908,403.19,maruti suzuki,running repairs,...,Madhya Pradesh,"Dehri Khurd, Tilsani, Dhanwahi, Piparia, Napie...",23.2364,80.002104,madhya pradesh,central zone,1/13/2015 15:07,1/13/2015 13:39,0 days 01:27:51.000000000,hatchback
4925,indigo manza,retail,74585,0:00:00,7030200215,180284,93615,402.93,tata motors,running repairs,...,Madhya Pradesh,"Amladepot, Berdi, Lohangi, Devi, Sausar, Borga...",21.6723,78.841425,madhya pradesh,central zone,1/24/2015 12:10,1/24/2015 10:21,0 days 01:49:41.000000000,sedan
21628,swift,retail,94803,0:00:00,7030200919,195596,4617,0.00,maruti suzuki,accidental,...,Chattisgarh,"Raipur Kutchery, Dayanand Nagar, Purani Basti ...",21.8417,81.223690,chattisgarh,central zone,3/31/2015 16:26,3/17/2015 12:32,14 days 03:53:41.000000000,hatchback
23491,alto,retail,95568,0:00:00,7151200569,197129,36593,441.25,maruti suzuki,running repairs,...,Madhya Pradesh,"Old Secretriate, Shahajahanabad, Chhola Road, ...",25.0345,81.703000,madhya pradesh,central zone,3/22/2015 17:05,3/22/2015 16:08,0 days 00:56:28.000000000,hatchback

In [37]:
print("east_zone:    ", east_zone.shape)
print("west_zone:    ", west_zone.shape)
print("north_zone:   ", north_zone.shape)
print("south_zone:   ", south_zone.shape)
print("central_zone: ", central_zone.shape)

east_zone:     (7298, 27)
west_zone:     (150830, 27)
north_zone:    (99407, 27)
south_zone:    (220635, 27)
central_zone:  (14144, 27)

In [56]:
zone = east_zone
zone.shape

(7298, 28)

In [57]:
zone["invoice_datetime"] = pd.to_datetime(zone["invoice_datetime"],dayfirst=True)
zone["jobcard_datetime"] = pd.to_datetime(zone["jobcard_datetime"],dayfirst=True)
zone['Service_Time']     = zone['invoice_datetime'] - zone['jobcard_datetime']
zone['service_time_hrs'] = zone['Service_Time']/np.timedelta64(1,'h')

In [58]:
zone.columns

Index(['model', 'customer_type', 'customer_no', 'gate_pass_time', 'invoice_no',
       'job_card_no', 'km_reading', 'labour_total', 'make', 'order_type',
       'pin_code', 'plant_code', 'plant_name', 'regn_no', 'total_amt',
       'user_id', 'pin_city', 'pin_district', 'pin_location', 'latitude',
       'longitude', 'state', 'zones', 'invoice_datetime', 'jobcard_datetime',
       'Service_Time', 'model_type', 'service_time_hrs'],
      dtype='object')

In [60]:
zone['invoice_datetime']
# invoive count vs month

4202     2015-10-01 14:06:00
10453    2015-03-02 12:32:00
12532    2015-10-02 18:23:00
12622    2015-02-20 19:03:00
14628    2015-02-18 17:55:00
                 ...
492031   2016-06-30 18:51:00
492032   2016-06-30 18:56:00
492033   2016-06-30 19:02:00
492034   2016-06-30 19:56:00
492035   2016-06-30 19:56:00
Name: invoice_datetime, Length: 7298, dtype: datetime64[ns]